<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button> <!-- Creates a back button for the user-->
    </ion-buttons>
    <ion-title>MovieC</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button routerLink="/result">Choose</ion-button>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">MovieC</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">
    <ion-card>
      <img alt="Silhouette of mountains" src="https://rukminim1.flixcart.com/image/416/416/xif0q/poster/z/h/c/small-poster-fight-club-soap-text-red-sl-17167-wall-poster-13x19-original-imagm2zgbshvrzdr.jpeg?q=70" />
      <ion-card-header>
        <ion-card-title>Fight Club</ion-card-title>
        <ion-card-subtitle>This movie is based on the 1996 novel of the same name. Norton plays the unnamed narrator, who is discontented with his white-collar job. He forms a "fight club" with soap salesman Tyler Durden, and becomes embroiled in a relationship with a mysterious woman.</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        This movie is a great watch!.
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
